.hero_single {
  background: url(https://wallpapercave.com/wp/dvbKFz3.jpg) center center no-repeat;
}
.recommend{
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 1;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 9px 10px;
  display: inline-block;
  color: #fff;
  line-height: 1;
  border-radius: 3px;
  &:hover {
    color: #ff4081;
  }
}
.add-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.summary {
  min-height: 100px;
}