<div class="create-page p-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Create Tour</li>
    </ol>
  </nav>
  <div class="page-content">
    <div class="row">
      <div class="col col-md-4">
        <img class="img-avatar img-thumbnail" src="{{avatarLink}}">
        <button mat-stroked-button class="change-img-button" color="primary" (click)="openDialog()">Change
          Image</button>
      </div>

      <div class="col col-md-8">

        <form class="create-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">
          <mat-form-field>
            <mat-label>Favorite food</mat-label>
            <mat-select formControlName='type'>
              <mat-option *ngFor="let place of ['Tour', 'Hotel', 'Restaurant']" [value]="place">
                {{place}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <mat-form-field class="w-100">
              <mat-label>Tours Title</mat-label>
              <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="1" formControlName="title"></textarea>
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.title">
              <mat-error
                *ngIf="exampleForm.get('title').hasError(validation.type) && (exampleForm.get('title').dirty || exampleForm.get('title').touched)">
                {{validation.message}}</mat-error>
            </ng-container>
          </div>
          <div>
            <mat-form-field class="w-100">
              <mat-label>Tours Summary</mat-label>
              <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
                cdkAutosizeMaxRows="8" formControlName="summary"></textarea>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="w-100">
              <mat-label>Tours Info</mat-label>
              <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="10" formControlName="info"></textarea>
            </mat-form-field>
          </div>

          <div class="col-md-4 form-group">
            <mat-form-field class="input-style">
              <input matInput type="number" min="0" placeholder="Price" formControlName="price">
            </mat-form-field>
          </div>

          <div class="row submit-button-container">
            <div class="col-md-4">
              <button mat-raised-button class="submit-button" color="primary" type="submit"
                [disabled]="!exampleForm.valid">Create</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>