.add-comment {
    background-color: #FFF;


    .img-avatar {
      // border-radius: 50%;
      width: 400px;
      display: block;
      margin: 20px auto;
    }

    .change-img-button {
      display: block;
      margin: 0px auto;
    }

    .create-form {
      padding: 5px;

      .input-style{
        width: 100%;
      }

      .mat-error {
        font-size: 12px;
      }
    }
  }
