/* For use in src/lib/core/theming/_palette.scss
These are the two colors for our website
*/
$soctz-primary: (
  50 : #e2e5ea,
  100 : #b8bfca,
  200 : #8894a7,
  300 : #586983,
  400 : #354969,
  500 : #11294e,
  600 : #0f2447,
  700 : #0c1f3d,
  800 : #0a1935,
  900 : #050f25,
  A100 : #6184ff,
  A200 : #2e5cff,
  A400 : #0037fa,
  A700 : #0032e1,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
    )
);

$soctz-secondary: (
  50 : #e8fbec,
  100 : #c6f5ce,
  200 : #a0eeae,
  300 : #7ae78e,
  400 : #5ee175,
  500 : #41dc5d,
  600 : #3bd855,
  700 : #32d34b,
  800 : #2ace41,
  900 : #1cc530,
  A100 : #fbfffb,
  A200 : #c8ffcd,
  A400 : #95ff9f,
  A700 : #7bff88,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
    )
);

